---
layout: default
nav: article
title: Filippo Vitale &#187; Articles
description: Al the recent articles by Filippo Vitale mainly about tech, programming language, war and horror stories. From time to time I could resume old blog posts.
---
<div>

  <div class="col-lg-offset-2 col-lg-8 col-xs-12">
    {% include navigation.html %}
  </div>

  <div class="col-lg-6 col-xs-12 col-lg-push-3 text-center text-center">
    <h1>Articles</h1>

    {% for post in site.posts %}
    <section class="post panel panel-default">
      <div class="panel-heading">
        <a href="{{ post.url }}">
          <strong>{{ post.title }}</strong> —
          <time datetime="{{ post.date | date:'%F' }}" pubdate>{{ post.date | date:'%e %b %Y' }}</time>
        </a>
      </div>
      <div class="panel-body">
        <p><a href="{{ post.url }}">{{ post.description }}</a></p>
      </div>
    </section>
    {% endfor %}
  </div>

</div>
