---
layout: default
nav: home
title: Filippo Vitale &#187; Homepage
description: Filippo Vitale Homepage. I am trying to keep here all my articles, online tools, experiments, programs and of course, my resume/CV!
---
<!--Image made by Tom Raftery http://www.flickr.com/photos/traftery/4773457853-->
<div id="home-background"></div>
<script type="text/javascript">
  $("#home-background").backstretch('/static/img/server_room_with_grass.jpg');
</script>

<div id="home">

  <div class="col-lg-offset-2 col-lg-8 col-xs-12">
    {% include navigation.html %}
  </div>

  <div class="col-lg-8 col-xs-12 col-lg-push-2 text-center" style="display: table; height: 90%;">
    <div style="display: table-cell; vertical-align: middle; text-align: center;">
      <section>
        <h2>
          <span>Hi, my name is Filippo Vitale</span>
        </h2>
        <h3>
          I like to work with smart people <br/>on difficult problems.<br/>
          I live in Sydney, Australia.
        </h3>
      </section>
      {% include footer.html %}
    </div>
  </div>

</div>
