---
layout: default
title: Home
description: Filippo Vitale Homepage
---
<!--Image made by Tom Raftery http://www.flickr.com/photos/traftery/4773457853-->
<div id="home-background"></div>
<script type="text/javascript">
  $("#home-background").backstretch('/static/img/server_room_with_grass.jpg');
</script>

<div id="home">

  <div class="col-lg-offset-2 col-lg-8 col-xs-12">
    {% include navigation.html %}
  </div>

  <div id="hero" class="col-lg-6 col-xs-12 col-lg-push-3 text-center">
    <div>
      <section>
        <h2>
          <span>Hi, my name is Filippo Vitale</span>
        </h2>
        <h3>
          I like to work with smart people on difficult problems.<br/>
          I live in Sydney, Australia.
        </h3>
      </section>
      {% include footer.html %}
    </div>
  </div>

</div>
