<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse">
<!--
    <ul class="nav navbar-nav">
      {% if page.nav == 'home' %}
      <li class="active"><a href="/">Home</a></li>
      {% else %}
      <li><a href="/">Home</a></li>
      {% endif %} {% if page.nav == 'about' %}
      <li class="active"><a href="/about.html">About</a></li>
      {% else %}
      <li><a href="/about.html">About</a></li>
      {% endif %} {% if page.nav == 'blog' %}
      <li class="active"><a href="/blog/">Blog</a></li>
      {% else %}
      <li><a href="/blog/">Blog</a></li>
      {% endif %}
    </ul>
-->
  </div>
</nav>